@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
    font-family: Raleway, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    background: #fff;
    color: #111;
    padding: 0px;
    margin: 0px;
}

a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

ul {
    padding: 0px;
    list-style-position: inside;
}

article {
    width: 500px;
    margin: 25px auto;
}


