@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
    font-family: Raleway, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    background: #111 url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #f8f8f8;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

a {
    color: #f8f8f8;
    text-decoration: none;
}

a:hover {
    color: #e8e8e8;
}

h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

main {
    width: 600px;
    margin: 25px auto 100px;
}

main .avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0px auto 25px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

main a:hover {
    color: #a8a8a8;
}

.center {
    text-align: center;
}

main section {
    font-size: 14px;
}

main section ul {
    list-style-type: none;
    padding-left: 0px;
}

main section a {
    border-bottom: 1px solid;
}

.email {
    font-size: 16px;
    margin-top: 0px;
}

.email a:hover {
    color: #eee;
}

article {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 50px;
    border-radius: 2px;
    width: 600px;
    margin: 25px auto;
    font-size: 16px;
}

article header p {
    font-size: 14px;
}

article a {
    font-weight: 600;
}

article a:hover {
    color: #aaa;
}

article ul {
    list-style-type: none;
    padding-left: 0px;
}

article ul li {
    margin-bottom: 10px;
}

article section {
    margin-bottom: 50px;
}
